.nav{
    display: flex;
    align-items: center;
}

.nav-links{
    display: flex;
    
}

li{
    display: inline;
}
.active{
    margin: 0px 50px 0px 50px;
}

.btn{
    margin: 0px 50px 0px 50px;
}

h1{
    margin-right: 800px;
}